# Android NDK cross-compile settings.
# In addition to this config, you also need to install the side-by-side NDK or else it won't work

# On OSX: If you installed the NDK from Studio, your NDK Dir should be something like "/Users/My-User/Library/Android/sdk/ndk/25.2.9519653", for instance

[target.aarch64-linux-android]
linker = "[YOUR NDK DIR]/toolchains/llvm/prebuilt/darwin-x86_64/bin/aarch64-linux-android21-clang"

[target.armv7-linux-androideabi]
linker = "[YOUR NDK DIR]/toolchains/llvm/prebuilt/darwin-x86_64/bin/armv7a-linux-androideabi21-clang"
